.container{
    width: 1200px;
    margin: 0 auto;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    list-style-type: none;
}

.btn-clear{
    border: none;
    background: transparent;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 20fr;
    justify-content: center;
    align-items: center;
}

.avatar{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 3px;
    margin: 0 auto;
}

.avatar-small{
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 3px;
    margin: 0 auto;
}

.center-text{
    text-align: center;
}

.battle-container{
    margin: 0 auto;
    width: 80%;
}

.grid-centered{
    place-items: center;
}

.grid-stretch{
    place-items: stretch;
}

.battle-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid{
    display: grid;
}

.single-column{
    grid-template-columns: 1fr;
}

.grid-gap-5{
    grid-gap: 5px;
}

.battle-grid-fixed{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5fr;
}

.bg-gray{
    background: lightgoldenrodyellow;
}

.dark{
    background: gray;
}

.light{
    background: antiquewhite;
}