a{
    background: yellow;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    list-style-type: none;
}

.btn-clear{
    border: none;
    background: transparent;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 20fr;
    justify-content: center;
    align-items: center;
}

.avatar{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 3px;
    margin: 0 auto;
}

.center-text{
    text-align: center;
}

.battle-container{
    margin: 0 auto;
    width: 80%;
}

.battle-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
}
